.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

.layout > main {
  flex: 1;
  width: 100%;
} 